@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic&family=Megrim&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(to left, rgb(234, 155, 198) 16.62%, rgb(238, 225, 165) 85.61%);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: linear-gradient(to left, #ad00f7 0%, #e34cf0 29%, #f95e92 67%, #f0eb5d 100%);
  z-index: 1000;
}


.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-menu-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 20px;
  font-family: 'Livvic', sans-serif;
  color: #242322;
  font-weight: 400;
  font-size: 18px;
}

.position-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-menu-item-button {
  background-image: linear-gradient(to left, #ad00f7 0%, #e34cf0 29%, #f95e92 67%, #f0eb5d 100%);    
  width: 180px;
  align-self: left;
  width: 150px;
  height: 50px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Livvic', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #2F2325;
}

.content {
  margin-top: 100px;
  border-top: 0.4px solid #ffffff ;
}

.main-content {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.main-written-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main-written-content-title {
  font-family: 'Megrim', sans-serif;
  align-self: center;
  font-weight: 400;
  font-size: 64px;
  color: #524e4a;
}

.main-written-content-subtitle {
  font-family: 'Livvic', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #070707;
}


.launch {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Megrim', sans-serif;
}


.main-written-content-button {
  background-image: linear-gradient(to left, #ad00f7 0%, #e34cf0 29%, #f95e92 67%, #f0eb5d 100%);    
  width: 180px;
  align-self: center;
  width: 150px;
  height: 50px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Livvic', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #2F2325;
}

.main-written-content-button:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.main-content-image {
  height: 500px;
}

.about {
  margin-top: 150px;
  border-top: 0.4px solid #ffffff00;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 20px;
  font-family: 'Livvic', sans-serif;
  color: #242322;
  font-weight: 400;
  font-size: 18px;
}

.about-title {
  font-family: 'Megrim', sans-serif;
  align-self: center;
  font-weight: 400;
  font-size: 64px;
  color: #524e4a;
}

.about-image {
  height: 600px;
}

.how-it-works {
  margin-top: 100px;
  border-top: 0.4px solid #ffffff00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.how-it-works-title {
  margin-top: 100px;
  font-family: 'Megrim', sans-serif;
  align-self: center;
  font-weight: 400;
  font-size: 64px;
  color: #524e4a;
}

.how-it-works-text {
  font-family: 'Livvic', sans-serif;
  color: #242322;
  font-weight: 400;
  font-size: 18px;
}

.how-it-works-text-secundary {
  Display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Livvic', sans-serif;
  color: #242322;
  font-weight: 400;
  font-size: 18px;
  padding: 35px;
}

.how-it-works-icons {
  display: flex;
  flex-direction: row;
  padding: 35px;
  gap: 50px;
  font-size: 35px;
  margin-top: 25px;
}

.contacts {
  margin-top: 100px;
  border-top: 0.4px solid #ffffff00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.contacts-h2-title {
  margin-top: 200px;
  font-family: 'Megrim', sans-serif;
  align-self: center;
  font-weight: 400;
  font-size: 64px;
  color: #524e4a;
}

.contacts-h3-title {
  margin-top: 35px;
  font-family: 'Livvic', sans-serif;
  align-self: center;
  font-weight: 400;
  font-size: 32px;
  color: #070707;
  margin-bottom: 100px;
  
}

.contacts-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 50px;
  font-size: 35px;
  margin-bottom: 200px;
  
}

.regist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.regist-h2-title {
  display: flex;
  font-family: 'Megrim', sans-serif;
  align-self: center;
  font-weight: 400;
  font-size: 64px;
  color: #524e4a;
  margin-bottom: 25px;
}

.regist-h5-title {
  display: flex;
  margin-top: 25px;
  font-family: 'Livvic', sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #070707;
  margin-bottom: 25px;
}

.regist-form {
  display: flex;
  flex-direction: column;
  font-family: 'Livvic', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #070707;
  margin-bottom: 50px;
 
}

.regist-button {
  background-image: linear-gradient(to left, #ad00f7 0%, #e34cf0 29%, #f95e92 67%, #f0eb5d 100%);    
  width: 180px;
  align-self: center;
  width: 150px;
  height: 50px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Livvic', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #2F2325;
  margin-bottom: 50px;
}



.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 800px;
  padding: 24px;
  border-top: 0.4px solid #FFF2E7;
  
  
}


.footer-image {
  height: 100px;
}

